<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina de pLantilla</title>
</head>
<body>
<div cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div cdkDrag class="cdk-drag-preview">
    <h3>Datos Contacto</h3>
    <ul>
      <li *ngFor="let contacto of plantilla?.datos_contacto">{{contacto.texto}}</li>
    </ul>
  </div>
  <div cdkDrag class="cdk-drag-preview">
    <h3>Datos Historial Educativo</h3>
    <ul>
      <li *ngFor="let histEdu of plantilla?.datos_historialEducativo">{{histEdu.texto}}</li>
    </ul>
  </div>
</div>
</body>
</html>
