<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina de pLantilla</title>
</head>
<body>
<div cdkDropList (cdkDropListDropped)="onDrop($event)" style="display: flex; flex-direction: column;">

  <div id="div_contacto" cdkDrag class="cdk-drag-preview">
    <h3>Datos Contacto</h3>
    <ul>
      <li *ngFor="let contacto of plantilla?.datos_contacto">{{contacto.texto}} <button (click)="eliminarElemento('contacto',contacto.id)">Eliminar</button></li>
    </ul>
    <div>
      <form [formGroup]="formularioElemento" (ngSubmit)="nuevoElementoLista('contacto')">
        <input type="text" formControlName="texto">
        <label for="">Nuevo contacto</label>
        <button type="submit">Nuevo contacto</button>
      </form>
    </div>
  </div>

  <div id="div_historial" cdkDrag class="cdk-drag-preview" >
    <h3>Datos Historial Educativo</h3>
    <ul>
      <li *ngFor="let histEdu of plantilla?.datos_historialEducativo">{{histEdu.texto}} <button (click)="eliminarElemento('historialeducativo',histEdu.id)">Eliminar</button></li>
    </ul>
    <div>
      <form [formGroup]="formularioElemento" (ngSubmit)="nuevoElementoLista('historialeducativo')">
        <input type="text" formControlName="texto">
        <label for="">Nuevo contacto</label>
        <button type="submit">Nuevo contacto</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>
