<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina de pLantilla</title>
</head>
<body>
<div *ngFor="let elemento of plantilla | keyvalue" id="div_plantilla" cdkDropList (cdkDropListDropped)="onDrop($event)" style="display: flex; flex-direction: column;">
  <ng-container *ngIf="filtrarElementos(elemento.key)">

  <div id="div_contacto" cdkDrag class="cdk-drag-preview">
    <h3>Datos {{elemento.key}}</h3>

    <ul>
      <li *ngFor="let contacto of plantilla?.[elemento.key]; let i = index">{{contacto}} {{i}} <button (click)="eliminarElemento(elemento.key, i)">Eliminar</button></li>
    </ul>
    <div>
      <form [formGroup]="formularioElemento" (ngSubmit)="nuevoElementoLista(elemento.key, plantilla?.[elemento.key])">
        <input type="text" formControlName="texto">
        <label for="">Nuevo contacto</label>
        <button type="submit">Nuevo contacto</button>
      </form>
    </div>
  </div>
  </ng-container>
</div>
</body>
</html>
